{%  extends 'news/base.html' %}
{% block content %}
<div class="page-header">
    <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white me-2">
      <i class="mdi mdi-newspaper"></i>
    </span>{% if category_selected %} News - {{category_selected.name | title}}{% else %}All News{% endif %}
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <button id="export" class="btn btn-gradient-danger btn-icon-text" data-exportUrl="{% if category_selected %}{% url 'news:news_export' category_id=category_selected.id %}{% else %}{% url 'news:news_export' %}{% endif %}"><i class="mdi mdi-cloud-download"></i> Export
                </button>
            </li>
        </ul>
    </nav>
</div>
<div class="row">
    {% for data in news %}
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body pb-0">
                <h4 class="card-title">{% if not category_selected %}{{data.category.name | title}}{% endif %}</h4>
            </div>
            <div class="card-body">
                <blockquote class="mb-0 blockquote blockquote-primary" style="border-radius : 5px; border-color :
                                           {% if data.label == 'positive' or data.label == 'very positive' %}
                                            #198754
                                           {% elif data.label == 'negative' or data.label == 'very negative'%}
                                           #dc3545
                                           {% elif data.label == 'neutral' %}
                                           #9da5b1
                                           {% endif %}
                                           ">
                    <p>{{data.sentence}}</p>
                    <footer class="blockquote-footer" style="color :
                                           {% if data.label == 'positive' or data.label == 'very positive' %}
                                            #198754
                                           {% elif data.label == 'negative' or data.label == 'very negative'%}
                                           #dc3545
                                           {% elif data.label == 'neutral' %}
                                           #9da5b1
                                           {% endif %}
                                           ">
                        <i> label : {{data.label |upper }} | <cite title="Source Title"> score : {{data.score}}</cite></i>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
    {% empty %}
    <i>News not found!</i>
    {% endfor %}
    <div>
        <nav aria-label="...">
          <ul class="pagination justify-content-end">

            <li class="page-item">
              <a class="page-link" href="?page=1">First</a>
            </li>

            <li class="page-item {% if not news.has_previous %}disabled{% endif %}">
              <a class="page-link" href="{% if news.has_previous %}?page={{ news.previous_page_number }}{% endif %}">Previous</a>
            </li>

            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">Page {{ news.number }} of {{ news.paginator.num_pages }}</a>
            </li>

            <li class="page-item {% if not news.has_next %}disabled{% endif %}">
              <a class="page-link" href="{% if news.has_next %}?page={{ news.next_page_number }}{% endif %}">Next</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ news.paginator.num_pages }}">Last</a>
            </li>
          </ul>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body p-2">
            {% if messages %}
              {% for message in messages %}
                {% if message.tags %}
                  <div role="alert" class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if category_selected %}
            <form method="POST" action="{% url 'news:submit_news' slug=category_selected.slug %}" class="w-100">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 d-flex" style="justify-content: space-between;">
                       <textarea class="form-control" name="sentence" placeholder="Sentence" style="width:85%"></textarea>
                       <button class="btn btn-gradient-primary me-2">Submit</button>
                    </div>
                </div>
            </form>
            {% else %}
            <i>Please choose category or label from the navigation to submit sentences.</i>
            {% endif %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $("#export").click(function(e) {
      e.preventDefault();

      const exportUrl = $(this).attr("data-exportUrl")
      console.log(exportUrl);

      $.ajax({
          type: "POST",
          url: exportUrl,
          data: {},
          contentType: 'application/json',
          success: function (data) {
            console.log("data",data);
            if (data.status === 200){
                window.location.href = data.file;
            }else{
            alert("Something went wrong")
            }
          },
          error: function(error){
            console.error(error);
          },
        });

    });
</script>
{% endblock script %}